h1{
    text-align: center;
    font-family:FuzzyBubbles-Regular;
    font-weight: unset;

}


.filter-nav{
    position: sticky;
    display: flex;
    width: 100%;
    background: #ffffff;
    box-shadow: 1px 1px #d9d9d9,-1px -1px #d9d9d9;
    z-index: 2;
    height:65px;
    align-items: center;
    font-family:FuzzyBubbles-Bold;


    .filter-nav-child{
        height:100%;
        width:80px;
        margin-left:10px;
        font-family:FuzzyBubbles-Bold;
        border: none;
        border-right: 1px solid #d9d9d9;

        @include mobile-layout{
            width:100%;
        }

    }

    @include mobile-layout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        width: 80%;
      
    }
}
    
.bags-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @include mobile-layout{
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}


.bags-preview{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    height: 22%;
    width: 22%;

    @include mobile-layout{
        height: 50%;
        width: 50%;
    }

    background-color: #fff;
  
    .add-to-cart-btn{
        height:40px;
        font-family:FuzzyBubbles-Bold;
        border-color: papayawhip;
        border-radius: 30px;
        background-color: #f5f5dc5e;
    }
    


    .bag-info{

         display: flex;
         justify-content: space-between;
         margin: 0.2rem;

        .text-info{
            font-size:0.3rem;
            font-size: 0.3rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
        }

        .bag-price{
            font-family:Ariel;
        }
        
        .like{
            margin: inherit;
            font-size:24px;
            cursor: pointer;
        }
    }


}