//colors
$clr1:#e0ffcd;
$clr2:#fdffcd;
$clr3:#ffebbb;
$clr4:#ffcab0;
$clr5:rgb(65, 58, 59);
$clr6:rgb(172, 31, 55);


//measure
$header-high: 3rem;


//breakpoints
$mobile-breakpoint: 460px;
$tablet-breakpoint: 720px;
$normal-breakpoint: 1100px;